/**Styling the user post page using post-card selector*/
.post-card {
  box-shadow: 2px 2px 8px grey;
  padding: 8px;
  border-radius: 4px;
  display: grid;
  gap: 1rem;
}
.post {
  margin-bottom: 1rem;
}
.post-list {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}
